@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.close {
  display: none !important;
}
:root {
  --primary-color: #1b5958;
  --button-color: #4cc5d2;
}
.searchBtn {
  background-color: #4cc5d2;
  border-color: var(--button-color);
  margin-left: 2px;
}
.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.foot {
  justify-self: flex-end;
}
.search-icon {
  cursor: pointer;
  transform: translateY(5px);
}
.center {
  text-align: center;
}
.center-flex {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text-color {
  color: var(--primary-color);
}
.container {
  margin: 1rem 4rem;
}
.error {
  color: red;
}
.button {
  text-align: center;
  background: var(--primary-color) !important;
  border-radius: 40px !important;
  padding: 25px;
  height: 50px !important;
  margin: 10px 0;
  width: 280px;
  color: #fff !important;
}
.vendor-btn {
  color: #fff !important;
  background: var(--primary-color) !important;
}
.swip {
  width: 800px !important;
  position: unset !important;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem;
}
.buttons {
  text-align: center;
  background: var(--button-color) !important;
  border-radius: 40px !important;
  padding: 25px;
  height: 50px !important;
  margin: 10px 0;
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  width: 280px !important;
  color: #fff !important;
  margin-left: 4rem;
}
.buttons img {
  width: 30px !important;
}
.cart-btn {
  cursor: pointer;
  background: var(--primary-color) !important;
  border-radius: 10px !important;
  padding: 15px;
  height: 40px !important;
  margin: 10px 0;
  width: 150px;
  color: #fff !important;
}
/* img {
  object-fit: cover !important;
} */
.row {
  display: flex;
}
.button:hover {
  color: #fff !important;
}
.flexx {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.h {
  width: 100%;
  background-color: #1b5958;
  padding: 10px;
  color: #fff;
  font-size: 25px;
}
.product-card {
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  width: max-content;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19);
}
.footer-mobile {
  display: none;
}
.product {
  margin-left: 2rem;
}

.product-overview {
  margin-top: 5px;
  color: #fff;
  margin: 5px 2rem;
  background-color: var(--primary-color);
  padding: 7px;
}

.ant-select-selector {
  border-radius: 15px !important;
  background: #f8f8f8 !important;
}
.ant-input-password {
  width: 300px !important;
}
.ant-input-affix-wrapper {
  border-radius: 40px !important;
  width: 300px !important;
  background: #f8f8f8 !important;
}
@media (max-width: 1100px) {
  .swip {
    width: 400px !important;
  }
}
@media (max-width: 1000px) {
  .cat-img {
    width: 100px !important;
  }
  .cart-btn {
    text-align: center;
    background: var(--primary-color) !important;
    border-radius: 10px !important;
    padding: 15px;
    height: 40px !important;
    margin: 10px 0;
    width: 150px;
    color: #fff !important;
  }
}

@media (max-width: 1000px) {
  .mobile-head, .menu-div{
    display:inline !important;
  }
  .product-overview {
    margin: 5px 0.5rem;
    font-size: 15px;
  }
  .flexx h1 {
    font-size: 17px;
  }
  .side-nav .showNav {
    transform: translateX(-350px);
    transition: all 0.5s ease-in;
    position: absolute;
    z-index: 2;
  }
  .close {
    display: inline !important;
    color: #fff !important;
    cursor: pointer !important;
  }
  .side-nav .hideNav {
    transform: translateX(0px);
    transition: all 0.5s ease-in;
    position: absolute;
    z-index: 2;
  }
  .myNav {
    margin-top: 20px !important;
    cursor: pointer !important;
  }
}
@media (max-width: 650px) {
  .footer-desktop {
    display: none;
  }
  .flex h3 {
    transform: translateY(10px);
  }
  .footer-mobile {
    display: block;
    padding-top: 20px;
    color: #1b5958 !important;
    border-top: 1px solid #1b5958;
  }
}
@media (max-width: 500px) {
  .sign {
    margin-top: 15px;
  }
  .mobile-card {
    width: 350px;
  }
  .mobile-card .card {
    width: 400px !important;
  }
  .cat-img {
    width: 100px;
  }
  .mobile-card > a {
    text-align: center;
  }
  .swip {
    width: 390px !important;
    border-radius: 10px !important;
  }
  .select {
    width: 300px !important;
  }
  .h {
    font-size: 20px;
  }
}
.searchs,
.logo {
  display: none;
}
@media (max-width: 700px) {
  .searchs,
  .logo {
    display: block;
    margin: 10px 0px;
    transform: translateY(4px);
  }
  .searchs,
  .logo {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .swip {
    width: 250px !important;
  }
  .mobile-card {
    width: 300px !important;
  }
  .card {
    width: 100px !important;
  }
  .cat-img {
    width: 50px !important;
  }
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 600px;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 5 !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--button-color) !important;
}
.prof {
  color: var(--primary-color);
  margin-left: 3rem;
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
}
.account-flex {
  display: flex;
  overflow: hidden;
}
.mobile-profile {
  display: none;
}
@media (max-width: 850px) {
  .pro-file {
    display: none;
  }
}
@media (max-width: 500px) {
  .prof {
    margin-left: 2rem;
  }
}
